# Build
build/
dist/
*.egg-info/

# Python
__pycache__/
*.pyc
*.pyo

# C++
*.obj
*.o
*.pyd
*.so
*.dll
*.exe

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# VSCode
.vscode/

# LaTeX
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz